@font-face {
  font-family: 'iconfont'; /* Project id 3741688 */
  src: url('iconfont.woff2?t=1695044237439') format('woff2'),
    url('iconfont.woff?t=1695044237439') format('woff'),
    url('iconfont.ttf?t=1695044237439') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: '\e684';
}

.icon-twitter:before {
  content: '\e688';
}

.icon-close:before {
  content: '\e626';
}

.icon-check:before {
  content: '\e63b';
}

.icon-arrow-right:before {
  content: '\e63c';
}
