@font-face {
  font-family: 'iconfont'; /* Project id 3741688 */
  src: url('iconfont.woff2?t=1680931676307') format('woff2'),
    url('iconfont.woff?t=1680931676307') format('woff'),
    url('iconfont.ttf?t=1680931676307') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianzu1:before {
  content: '\e66d';
}

.icon-shuaxin:before {
  content: '\e66e';
}

.icon-a-bianzu2:before {
  content: '\e66f';
}

.icon-geshishua:before {
  content: '\e60d';
}

.icon-a-79-yiyuan:before {
  content: '\e8d6';
}

.icon-liuxiangguanli:before {
  content: '\e660';
}

.icon-androidgengduo:before {
  content: '\e78d';
}

.icon-expand-alt:before {
  content: '\e95d';
}

.icon-shezhi:before {
  content: '\e67b';
}

.icon-daimapianduan:before {
  content: '\e6d6';
}

.icon-cuowu:before {
  content: '\e626';
}

.icon-xingzhuangjiehe:before {
  content: '\e647';
}

.icon-xingzhuangjiehebeifen:before {
  content: '\e648';
}

.icon-bianzu:before {
  content: '\e649';
}

.icon-search:before {
  content: '\e977';
}

.icon-zhuandao:before {
  content: '\e644';
}

.icon-jiaoyi1:before {
  content: '\e645';
}

.icon-fanhui:before {
  content: '\e646';
}

.icon-check-circle-filled:before {
  content: '\e641';
}

.icon-fuzhi1:before {
  content: '\e632';
}

.icon-danxiang:before {
  content: '\e63d';
}

.icon-jiaoyi:before {
  content: '\e63e';
}

.icon-tianjia:before {
  content: '\e640';
}

.icon-shezhitianchong:before {
  content: '\e68d';
}

.icon-ic_services:before {
  content: '\e613';
}

.icon-taiyang:before {
  content: '\e6f6';
}

.icon-heiyemoshi:before {
  content: '\e68f';
}

.icon-cha1:before {
  content: '\e61a';
}

.icon-bianjisekuai:before {
  content: '\ec7c';
}

.icon-xiangzuo:before {
  content: '\e62b';
}

.icon-xiangyou:before {
  content: '\e62c';
}

.icon-github:before {
  content: '\e629';
}

.icon-bxl-telegram:before {
  content: '\e6ea';
}

.icon-tuite:before {
  content: '\e628';
}

.icon-medium:before {
  content: '\e62a';
}

.icon-instant-error:before {
  content: '\e63f';
}

.icon-xiazai:before {
  content: '\e675';
}

.icon-minus:before {
  content: '\e67e';
}

.icon-plus:before {
  content: '\e681';
}

.icon-download:before {
  content: '\e7ef';
}

.icon-cha:before {
  content: '\e63a';
}

.icon-gou:before {
  content: '\e63b';
}

.icon-jinru:before {
  content: '\e63c';
}

.icon-shandian1:before {
  content: '\e8c5';
}

.icon-zijinliu:before {
  content: '\e638';
}

.icon-logo:before {
  content: '\e639';
}

.icon-a:before {
  content: '\e637';
}
