.ant-tooltip-inner {
  font-weight: var(--chakra-fontWeights-medium) !important;
}

.chakra-ui-light .ant-tooltip-inner,
.chakra-ui-light .ant-tooltip-arrow::after {
  background-color: var(--chakra-colors-gray-700) !important;
  color: var(--chakra-colors-white) !important;
}

.chakra-ui-dark .ant-tooltip-inner,
.chakra-ui-dark .ant-tooltip-arrow::after {
  background-color: var(--chakra-colors-gray-200) !important;
  color: var(--chakra-colors-black) !important;
}
