.btn {
  display: flex;
  align-items: center;
  margin: 2px 0;

  @media screen and (max-width: 1000px) {
    margin: 0 0 0 28px;
  }

  &:global(.ant-btn-default):global(.ant-btn) {
    font-weight: 600;
    line-height: 20px;
    border-width: 2px;
    border-radius: 8px;
    padding: 4px 6px;
    color: var(--chakra-colors-link);
    border-color: var(--chakra-colors-link);
    background-color: transparent;

    &:hover {
      color: var(--chakra-colors-link_hovered) !important;
      border-color: var(--chakra-colors-link_hovered) !important;
      background-color: transparent !important;
    }
  }
}
