.container {
  display: flex;
  align-items: center;
}

.implementation {
  display: flex;
  align-items: center;
}

.direction {
  margin: 0 4px;
}

:global(.ant-tag) a.link {
  color: var(--chakra-colors-link);

  &:hover {
    color: var(--chakra-colors-link_hovered);
  }
}
